* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #fff8f0;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
textarea {
  width: 100%;
  padding: 0.7em 0.5em;
  border: 1px solid #d0d0d0;
  outline: none;
  color: #414a67;
  border-radius: 0.3em;
  resize: none;
}
textarea:not(:last-child) {
  margin-bottom: 1.2em;
}
textarea:focus {
  border-color: #e08c00;
}
label {
  color: #363d55;
  font-weight: 600;
  margin-bottom: 0.3em;
  display: block;
}
.hide {
  display: none;
}